@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(60 20% 99.0196%);
  --foreground: hsl(41.25 85.7143% 10.9804%);
  --card: hsl(40 60% 97.0588%);
  --card-foreground: hsl(36.9767 76.7857% 21.9608%);
  --popover: hsl(39.2308 56.5217% 90.9804%);
  --popover-foreground: hsl(36.9767 76.7857% 21.9608%);
  --primary: hsl(90, 73%, 25%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(300 52.1739% 90.9804%);
  --secondary-foreground: hsl(300 11.8644% 23.1373%);
  --muted: hsl(39.2727 56.701% 80.9804%);
  --muted-foreground: hsl(36 52.4476% 28.0392%);
  --accent: hsl(74.6667 60.8108% 70.9804%);
  --accent-foreground: hsl(75 92.8571% 10.9804%);
  --destructive: hsl(3.0275 94.7826% 54.902%);
  --destructive-foreground: hsl(3.0275 94.7826% 45.098%);
  --border: hsl(36.7742 32.9787% 63.1373%);
  --input: hsl(36.7742 32.9787% 63.1373%);
  --ring: hsl(36.1446 47.9769% 33.9216%);
  --chart-1: hsl(19.9038 85.2459% 52.1569%);
  --chart-2: hsl(174.1176 73.2057% 40.9804%);
  --chart-3: hsl(188 78.9474% 26.0784%);
  --chart-4: hsl(44.9362 98.3264% 53.1373%);
  --chart-5: hsl(32.069 92.8% 50.9804%);
  --sidebar: hsl(40 63.6364% 87.0588%);
  --sidebar-foreground: hsl(39.7753 83.1776% 20.9804%);
  --sidebar-primary: hsl(340 15.7895% 14.902%);
  --sidebar-primary-foreground: hsl(348 100% 98.0392%);
  --sidebar-accent: hsl(40.3125 46.3768% 72.9412%);
  --sidebar-accent-foreground: hsl(340 15.7895% 14.902%);
  --sidebar-border: hsl(0 0% 87.8431%);
  --sidebar-ring: hsl(0 0% 63.1373%);
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(22.5 17.3913% 9.0196%);
  --foreground: hsl(37.3585 54.6392% 80.9804%);
  --card: hsl(22.5 12.1212% 12.9412%);
  --card-foreground: hsl(37.3585 54.6392% 80.9804%);
  --popover: hsl(22.5 12.1212% 9.9412%);
  --popover-foreground: hsl(37.3585 54.6392% 80.9804%);
  --primary: hsl(90, 76%, 27%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(300 52.1739% 90.9804%);
  --secondary-foreground: hsl(20.8696 92% 4.902%);
  --muted: hsl(15 10.5263% 14.902%);
  --muted-foreground: hsl(36.7742 32.9787% 63.1373%);
  --accent: hsl(73, 90%, 16%);
  --accent-foreground: hsl(75, 54%, 86%);
  --destructive: hsl(3.0275 94.7826% 54.902%);
  --destructive-foreground: hsl(2.8235 95.5056% 65.098%);
  --border: hsl(26.6667 17.6471% 20%);
  --input: hsl(26.6667 17.6471% 20%);
  --ring: hsl(69.0909 12.9412% 50%);
  --chart-1: hsl(19.9038 85.2459% 52.1569%);
  --chart-2: hsl(174.1176 73.2057% 40.9804%);
  --chart-3: hsl(188 78.9474% 26.0784%);
  --chart-4: hsl(44.9362 98.3264% 53.1373%);
  --chart-5: hsl(32.069 92.8% 50.9804%);
  --sidebar: hsl(26.6667 15.7895% 11.1765%);
  --sidebar-foreground: hsl(37.3585 54.6392% 80.9804%);
  --sidebar-primary: hsl(69.0909 12.9412% 50%);
  --sidebar-primary-foreground: hsl(348 100% 98.0392%);
  --sidebar-accent: hsl(26.6667 17.6471% 20%);
  --sidebar-accent-foreground: hsl(40.3846 46.4286% 78.0392%);
  --sidebar-border: hsl(26.6667 17.6471% 20%);
  --sidebar-ring: hsl(69.0909 12.9412% 50%);
  --radius: 0.5rem;
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--reka-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--reka-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  /* Mozilla Headline, Anton, Fjalla One, Bricolage Grotesque */
  --font-heading: 'Anton',
  var(--font-sans);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply cursor-pointer;
  }

  a[href] {
    @apply text-primary;

    &:hover {
      @apply underline;
    }
  }

  .dark a[href] {
    @apply text-primary-foreground;
  }
}

@layer utilities {

  .prose h1:not(.not-prose *),
  .prose h2:not(.not-prose *),
  .prose h3:not(.not-prose *),
  .prose h4:not(.not-prose *) {
    @apply font-normal font-heading text-muted-foreground;
  }

  .prose a[href]:not(.not-prose *) {
    @apply text-primary no-underline;
  }

  .dark .prose a[href]:not(.not-prose *) {
    color: color-mix(in srgb, var(--primary) 60%, white);
  }

  .prose a[href]:not(.not-prose *):hover {
    text-decoration: underline;
    color: color-mix(in srgb, var(--primary) 70%, white);
  }

  .prose ul:not(.not-prose *),
  .prose ol:not(.not-prose *) {
    @apply -mt-2;
  }

  .prose img:not(.not-prose *) {
    @apply border-2 rounded;
  }

  .dark .prose img:not(.not-prose *) {
    @apply opacity-80 transition-opacity duration-300;
  }

  .dark .prose img:not(.not-prose *):hover {
    @apply opacity-100;
  }
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
select {
  background-color: rgba(255, 255, 255, 0.6);
}

.dark {

  input,
  textarea,
  select {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

/* Darken var(--background) */
.dark .bg-background {
  background-color: color-mix(in srgb, var(--background) 70%, black);
}